################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AWSCloudApps/301151250(sinha)_Lab/AS-WPF-AWS-S3-IAM/bin/Debug/net5.0-windows
/AWSCloudApps/301151250(sinha)_Lab/.vs/AS-WPF-AWS-S3-IAM
/.vs
/AWSCloudApps/301151250(sinha)_Lab/AS-WPF-AWS-S3-IAM/obj
/AWSCloudApps/301151250(sinha)_Lab/lab2/bin/Debug/net5.0-windows
/AWSCloudApps/301151250(sinha)_Lab/lab2/obj
/AWSCloudApps/301151250(sinha)_Lab/lab3/bin/Debug/netcoreapp3.1
/AWSCloudApps/301151250(sinha)_Lab/lab3/obj
