################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AWSCloudApps/301151250(sinha)_Lab/AS-WPF-AWS-S3-IAM/bin/Debug/net5.0-windows
